<footer class="site--footer">
<section class="featured--wrap" id="members">

    {% for member in site.data.members %}
    <div class="group--member">
        <a href="http://twitter.com/{{ member.twitter }}">
            <img src="{{ member.gravatar }}" alt="{{ member.name }}" id="{{ member.name }}">
        </a>
        <h4>{{ member.name }}</h4>
        <div class="social">
            <a href="http://{{ member.url }}" class="genericon-link"></a>
            <a href="http://github.com/{{ member.github }}" class="genericon-github"></a>
            <a href="http://codepen.io/{{ member.codepen }}" class="genericon-codepen"></a>
            <a href="mailto:{{ member.email }}" class="genericon-mail"></a>
        </div>
    </div>
    {% endfor %}
</section>
</footer>
<script type="text/javascript">
// Add a script element as a child of the body
function downloadJSAtOnload() {
var element = document.createElement('script');
element.src = 'assets/js/main.min.js';
document.body.appendChild(element);
}

// Check for browser support of event handling capability
if (window.addEventListener) {
window.addEventListener("load", downloadJSAtOnload, false);
} else if (window.attachEvent) {
window.attachEvent("onload", downloadJSAtOnload);
} else {
window.onload = downloadJSAtOnload;
}
</script>
</body>
</html>
