<footer class="site--footer">
<section class="featured--wrap">

    {% for member in site.data.members %}
    <div class="group--member">
        <a href="http://twitter.com/{{ member.twitter }}">
            <img src="{{ member.gravatar }}" alt="">
        </a>
        <h4>{{ member.name }}</h4>
        <div class="social">
            <a href="http://{{ member.url }}" class="genericon-link"></a>
            <a href="http://github.com/{{ member.github }}" class="genericon-github"></a>
            <a href="http://codepen.io/{{ member.codepen }} " class="genericon-codepen"></a>
        </div>
    </div>
    {% endfor %}
</section>
</footer>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-46322057-1', 'bullg.it');
	  ga('send', 'pageview');
	</script>
</body>
</html>
