<footer class="site--footer">
	<section class="featured--wrap" id="members">
			<div class="content--wrap">
				{{site.data.members | size}} Gitches, and counting..
			</div>
		{% for member in site.data.members %}
		<div class="group--member">
			<a {% if member.twitter %}href="https://twitter.com/{{ member.twitter }}"{% endif %}
			   {% if member.github %}href="https://github.com/{{ member.github }}"{% endif %}>
				<div class="avatar--wrapper">
					<img src="{{ member.gravatar }}" alt="{{ member.name }}" id="{{ member.name }}" title="{{ member.title }}">
				</div>
			</a>
			<h4>{{ member.name }}</h4>
			<div class="social">
				{% if member.url %}<a href="{{ member.url }}" class="genericon-link"></a>{% endif %}
				{% if member.github %}<a href="http://github.com/{{ member.github }}" class="genericon-github"></a>{% endif %}
				{% if member.codepen %}<a href="http://codepen.io/{{ member.codepen }}" class="genericon-codepen"></a>{% endif %}
				{% if member.email %}<a href="mailto:{{ member.email }}" class="genericon-mail"></a>{% endif %}
			</div>
		</div>
		{% endfor %}

	</section>
	<section class="footer--wrap">
		<small><a href="{{site.baseUrl}}/coc/">Code of conduct</a>   ●   <a href="https://github.com/bullgit/wiki/wiki">Wiki</a>   ●   <a href="https://bullg.it/map/">bullgiverse</a></small>
	</section>
</footer>
<script src="assets/js/main.js"></script>

<!-- holmes -->
<script src="https://haroen.me/holmes/js/holmes.js"></script>
<script>
  holmes({
    input: '.search input',
    find: '.project',
    placeholder: '<div style="text-align: center;">no 💩 found, suggest some!</div>',
  });
</script>

<!-- konami code -->
<script src="https://cdn.rawgit.com/snaptortoise/konami-js/master/konami.js"></script>
<script>
	function loadcss(url) {
		var head = document.getElementsByTagName('head')[0],
		link = document.createElement('link');
		link.type = 'text/css';
		link.rel = 'stylesheet';
		link.href = url;
		head.appendChild(link);
		return link;
	}
	function cssSwitch() {
		var socialicons = document.querySelectorAll('.social > a');
		loadcss('https://cdn.rawgit.com/bullgit/comic-sans-it/compatible/style.css');
		Array.prototype.forEach.call(socialicons, function (icon) {
			icon.setAttribute('style', 'font-family: Genericons !important');
		});
	}

	var easter_egg = new Konami(cssSwitch);
</script>
</body>
</html>
