<html>
<head>
    <title>{% if page.title %} {{ page.title }} &ndash; {% endif %} bullgit - serving finest shit since 2013 </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">  
    <link rel="icon" href="assets/img/favicon.png" type="image/x-icon">  
</head>
<body>
<header class="site--header">
    <div class="content--wrap">
        <div class="site--meta">
            <h1 class="site--headline"><span class="deco--blue">bull</span>git</h1>
            <h2>welcome to awesomeness</h2>
        </div>

        <nav role="navigation" class="site--navigation">
            <ul>
                <li class="nav--list-item">
                    <a href="http://twitter.com/bullgit" title="bullgit on Twitter">Twitter</a>
                </li>
                <li class="nav--list-item">
                    <a href="http://github.com/bullgit" title="bullgit on Github">Github</a>
                </li>
                <li class="nav--list-item">
                    <a href="http://tlk.io/codepen" title="bullgit on tlk.io">tlk.io</a>
                </li>
            </ul>
        </nav>

    </div>
</header>