@import url(http://weloveiconfonts.com/api/?family=fontelico);
/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

body {
  background: #1393d5;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 2.5em;
}
body a {
  color: inherit;
}
body p {
  text-align: center;
}
body ul {
  text-align: center;
}
body li {
  display: inline-block;
  margin: 1rem;
}
@media all and (max-width: 40em) {
  body {
    font-size: 1.4em;
  }
}
