{% include header.html %}

{% assign repos = site.github.public_repositories | sort: 'created_at' | reverse %}

<section class="featured--wrap" data-js="featured-project">
  {% assign featured = repos | first %}
  <article class="content--wrap  featured--article">
    <h2>
      <a href="{{ featured.html_url }}">{{featured.name}}</a>
      {% if featured.has_pages %}
        <a href="https://bullg.it/{{ featured.name }}">🌐</a>
      {% else %}
        {% if featured.homepage.size > 0 %}
        <a href="{{featured.homepage}}">🌐</a>
        {% endif %}
      {% endif %}
    </h2>
    <p>{{ featured.description }}</p>
  </article>
</section>

<div class="content--wrap">
<section class="gw" data-js="old-projects">
    <article class="g one-half  medium-one-whole  small-one-whole" data-column="1">
    {% for r1 in repos %}
      {% assign r1i = forloop.index0 | modulo:2 %}
      {% if r1i == 1 %}
      <article class="project">
        <h3 class="project--headline">
          <a href="{{ r1.html_url }}">{{ r1.name }}</a>
          {% if r1.has_pages %}
            <a href="https://bullg.it/{{ r1.name }}">🌐</a>
          {% else %}
            {% if r1.homepage.size > 0 %}
            {{r1.homepage.size}}
            <a href="{{r1.homepage}}">🌐</a>
            {% endif %}
          {% endif %}
        </h3>
        <p>{{ r1.description }}</p>
      </article>
      {% endif %}
    {% endfor %}
    </article>
    <article class="g one-half  medium-one-whole  small-one-whole" data-column="2">
    {% for r2 in repos %}
      {% if forloop.index0 == 0 %}
        {% continue %}
      {% endif %}
      {% assign r2i = forloop.index | modulo:2 %}
      {% if r2i == 1 %}
      <article class="project">
        <h3 class="project--headline">
          <a href="{{ r2.html_url }}">{{ r2.name }}</a>
          {% if r2.has_pages %}
            <a href="https://bullg.it/{{ r2.name }}">🌐</a>
          {% else %}
            {% if r2.homepage.size > 0 %}
            {{r2.homepage.size}}
            <a href="{{r2.homepage}}">🌐</a>
            {% endif %}
          {% endif %}
        </h3>
        <p>{{ r2.description }}</p>
      </article>
      {% endif %}
    {% endfor %}
    </article>
</section>
</div>

{% include footer.html %}
