{% include header.html %}


<section class="featured--wrap" data-js="featured-project">
    <div data-js="loader" class="loader">
        <h1>FETCHING REPOS</h1>
        <div class="loader--bar"></div>
    </div>
</section>

<div class="content--wrap">   
<section class="gw" data-js="old-projects">
    <article class="g one-half  medium-one-whole  small-one-whole" data-column="1"></article>
    <article class="g one-half  medium-one-whole  small-one-whole" data-column="2"></article>
</section>
</div>

{% include footer.html %}