{% include header.html %}


<section class="featured--wrap" data-js="featured-project">
    <div data-js="loader" class="loader">
        <h1>FETCHING REPOS</h1>
        <div class="loader--bar"></div>
    </div>
</section>

<div class="content--wrap">   
<section class="gw" data-js="old-projects">
    <article class="g one-half  medium-one-whole  small-one-whole" data-column="1"></article>
    <article class="g one-half  medium-one-whole  small-one-whole" data-column="2"></article>
</section>
</div>

<script src="https://cdn.rawgit.com/snaptortoise/konami-js/master/konami.js"></script>
<script>
  function loadcss(url) {
    var head = document.getElementsByTagName('head')[0],
    link = document.createElement('link');
    link.type = 'text/css';
    link.rel = 'stylesheet';
    link.href = url;
    head.appendChild(link);
    return link;
  }
  var easter_egg = new Konami(function() {loadcss('https://cdn.rawgit.com/bullgit/comic-sans-it/master/style.css');} );
</script>

{% include footer.html %}
